@font-face {
    font-family: "MesloLGM-Regular";
    src: url("../fonts/MesloLGM-Regular.ttf") format("truetype");
}

body {
height: 100%;
margin: 0;
padding: 0;
background-color: #4d5575;
color: #313131;
font-size: 3vw;
}

.main {
font-family: "MesloLGM-Regular", Fallback, sans-serif;
}

.header {
display: flex;
align-items: center;
cursor: default;
}

.dir {
background-color: #39a4ff;
border-right: 3px solid #39a4ff;
}

.right-arrow {
background-color: #ffc542;
}

.right-arrow-branch {
border-top: 2vw solid transparent;
border-bottom: 2vw solid transparent;
border-left: 2vw solid #ffc542;
margin-left: -1px;
}

.branch {
background-color: #ffc542;
padding-left: 12px;
border-left: 1px solid #ffc542;
margin-left: -1px;
}

.div blink,
.blink {
-webkit-animation: blink 1s step-end infinite;
-moz-animation: blink 1s step-end infinite;
-o-animation: blink 1s step-end infinite;
animation: blink 1s step-end infinite;
color: white;
}

.ls {
display: flex;
flex-wrap: wrap;
align-items: center;
font-size: 1rem;
padding-left: 12px;
}

.ls-result {
padding-left: 34px;
}

.ls-result:hover {
color: white;
} 

@-webkit-keyframes blink {
67% {
    opacity: 0;
}
}

@-moz-keyframes blink {
67% {
    opacity: 0;
}
}

@-o-keyframes blink {
67% {
    opacity: 0;
}
}

@keyframes blink {
67% {
    opacity: 0;
}
}
