---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const sections = ['about', 'resume', 'contact']
---

<div class="w-full h-full bg-slate-600">
	{sections}
</div>
<style>
	
</style>
